/* NavAid Buttons */
.navAidBtn {
    background-color: rgb(40, 40, 126);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

.navAidBtn:hover {
    background-color: rgb(195, 245, 25);
    color: rgb(40, 40, 126);
}

/* Aerodrome Info */
#aerodromeInfoDetail {
    transition: 0.5s;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.aerodromeCard {
    font-size: 1.4em;
    height: 800px;
    width: 500px;
    color: white;
    border-radius: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: linear-gradient(45deg, rgb(10, 60, 135), rgb(15, 90, 210));
}

.airspaceInfoCard {
    font-size: 1.4em;
    height: 800px;
    width: 900px;
    color: white;
    border-radius: 16px;
    display: flex;
    position: relative;
    background: linear-gradient(45deg, rgb(10, 60, 135), rgb(15, 90, 210));
}

.metar{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    width: 330px;
    box-sizing: border-box;
    height: 450px;
    display: block;
    background-color: white;
    padding: 12px;
    color: blue;
    border-radius: 12px;
    margin-top: 32px;
}

.orderWeatherData {
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* AIP Info */
#aipInfo {
    background-color: rgb(6, 44, 100);
    transition: 0.5s;
    width: 0px;
    overflow: hidden;
    height: 800px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    position: relative;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.aipImg {
    color: blue;
}

#pdfIframe {
    width: 100%;
    height: 100%;
    min-width: 600px;
    position: relative;
}