/* Aircraft Tracking */
.planeIcon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#trackedAcft {
    transition: 0.5s;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    z-index: 1000;
    position: absolute;
    height: 680px;
    width: 300px;
    overflow: hidden;
    right: 0;
    top: 100px;
    background-color: rgb(10, 60, 135);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    color: white;
    box-sizing: border-box;
    padding: 40px;
}

.hiddenTrackedAcft {
    width: 0 !important;
    padding: 0 !important;
}

.trackedAcftRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0 8px 0;
    width: 100%;
}

.trackedAcftLoader {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 12px;
    gap: 12px;
    align-items: center;
}

.imgLinkWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#photoLink {
    color: white;
    margin-top: 6px;
    font-size: 14px;
    margin-bottom: 16px;
    text-decoration: none;
}

#photoLink:hover {
    color: rgb(195, 245, 25);
}

#trackedCallsign {
    margin-top: 0;
}


#trackedReg {
    margin-bottom: 16px;
}

#trackedImg {
    border-radius: 8px;
    max-width: 100%;
    border: 2px solid rgb(195, 245, 25);
    max-height: 150px;
}

#icaoDest {
    width: 100px;
    border: none;
    border-radius: 8px;
    height: 24px;
    outline: none;
    text-align: center;
}

.etaBtn {
    height: 26px;
    width: 100px;
    border: none;
    outline: none;
    background-color: rgb(195, 245, 25);
    color: rgb(10, 60, 135);
    border-radius: 8px;
    cursor: pointer;
}

.etaBtn:hover {
    background-color: rgb(10, 60, 135);
    color: rgb(195, 245, 25);
    border: 2px solid rgb(195, 245, 25);
}

#adsb-one-attribution{
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    z-index: 1000;
    position: absolute;
    bottom: 24px;
    right: 0;
    width: 110px;
    height: 30px;
    background-color: rgb(10, 60, 135);
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.adsbOneLink{
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.adsbOneLink:hover{
    color: rgb(195, 245, 25);
}

@media screen and (max-width: 1000px) {
    #trackedReg {
        display: none;
    }

    .imgLinkWrapper {
        display: none;
    }

    #trackedAcft {
        top: 400px;
        height: 460px;
    }

}