/* Basic Page Setup */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

h3 {
    margin: 0;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.4) 1.95px 3px 2.6px;
}

.d-none {
    display: none !important;
}

.marginTop16 {
    margin-top: 16px;
}

.margin-top16 {
    margin-top: 16px;
}

.z-index1100 {
    z-index: 1100;
}
.d-flex {
    display: flex;
}

#monitorToSmall{
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, rgb(10, 60, 135), rgb(15, 90, 210));
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1002;
    position: absolute;
}

.toSmallSpan{
    color: white;
    font-size: 2em;
    padding: 12px;
}
@media screen and (max-width: 730px) {
    body{
        overflow: hidden;
    }
    #monitorToSmall{
        display: flex;
    }  
}